{% load i18n %}
{% load attribute_tags %}
{% load pagination_tags %}
{% load navigation_tags %}
{% load non_breakable %}
{% load variable_tags %}
{% load main_settings_tags %}
{% load multiselect_tags %}
{% load dict %}
{% load string_trim %}

{% get_main_setting "DISABLE_ICONS" as disable_icons %}
                            
<script type="text/javascript">

//returns new query with new filter or already used filter with updated value
function resolveQuery(numberOfFilters, filterColumn, filterValue, query) {
	var query = window.location.search + '';
	//filter is already used so we need to update query part with new filter value
	if(query.indexOf(filterColumn) != -1) {
		var valueStartIndex = query.indexOf('=', query.indexOf(filterColumn)) + 1
		var valueEndIndex = query.indexOf('&', valueStartIndex);
		//we are on the end of the query
		if(valueEndIndex == -1) {
			valueEndIndex = query.length;
		}
		query = query.replaceBetween(valueStartIndex, valueEndIndex, filterValue);
	} else if(filterValue != '') {
		numberOfFilters++;
    	if((window.location + '').indexOf('?') == -1) {
    		query += '?';
    	} else {
    		query += '&';
    	}
		query += 'filter_column' + numberOfFilters + '=' + filterColumn + '&filter_value' + numberOfFilters + '=' + filterValue;
	}
	return query;
}


$(document).ready(function() {
	
	//checks if some of the special filter metadata folder documents view buttons is clicked
	$('button').click(function(e){
		var target = e.target || e.srcElement;
		if(target.className == 'button-filter-metadata') {
			e.preventDefault();
			return false;
		}
		return true;
	});
	
	$('input').keyup(function(e){
		var FILTER_TEMPLATE_NAME = 'search_id_';
		var FILTER_TEMPLATE_BUTTON_NAME = 'search_button_id_';
		var target = e.target || e.srcElement;
	    if(e.keyCode == 13 && target.id.startsWith(FILTER_TEMPLATE_NAME)){
	    	console.log(e);
	    	var filterColumn = target.id.substring(FILTER_TEMPLATE_NAME.length);
	    	var filterValue = $('#' + FILTER_TEMPLATE_NAME + filterColumn).val();
	    	var submitUrl = $('#' + FILTER_TEMPLATE_BUTTON_NAME + filterColumn).val();
	    	var numberOfFilters = Number('{{filter_column_count}}');
	    	submitUrl += resolveQuery(numberOfFilters, filterColumn, filterValue);
	    	window.location = submitUrl;
	    	e.preventDefault();
	    	return false.
	    }
	});
});

</script>

{% if side_bar %}
    <div class="block">
    <h3>
        {{ title|capfirst }}
    </h3>
    <div class="content">
        <p>
{% else %}    
    {% autopaginate object_list %} 
    <div class="content">
    <h2 class="title">
        {% ifnotequal page_obj.paginator.num_pages 1 %}
            {% blocktrans with page_obj.start_index as start and page_obj.end_index as end and page_obj.paginator.object_list|length as total and page_obj.number as page_number and page_obj.paginator.num_pages as total_pages %}List of {{ title }} ({{ start }} - {{ end }} out of {{ total }}) (Page {{ page_number }} of {{ total_pages }}){% endblocktrans %}
        {% else %}
            {% blocktrans with page_obj.paginator.object_list|length as total %}List of {{ title }} ({{ total }}){% endblocktrans %}
        {% endifnotequal %}
    </h2>

    <div class="inner">
{% endif %}

        <form action="{% url multi_object_action_view %}" class="form multi_select" method="get" >

            {% if object_list %}
                {% if multi_select or multi_select_as_buttons %}
                    {% if multi_select_as_buttons %}
                        {% get_multi_item_links as multi_item_links %}
                        <div class="group navform wat-cf" style="margin-bottom: 0px;">
                        {% for link in multi_item_links %}
                            <button class="button" type="submit" name="action" value="{{ link.url }}" style="margin-bottom: 8px;">
                               {% if link.famfam and not disable_icons %}<span class="famfam active famfam-{{ link.famfam|default:'link' }}"></span>{% endif %}{{ link.text|capfirst }}
                            </button>
                        {% endfor %}
                        </div>
                    {% else %}
                        {% with "true" as form_hide_required_text %}
                            {% get_multi_item_links_form %}
                        {% endwith %}
                        <div class="group navform wat-cf">
                            <button class="button" type="submit" name="{{ form.prefix }}-submit">
                                <img src="{{ STATIC_URL }}web_theme_media/images/icons/tick.png" alt="{% if object %}{% trans 'Save' %}{% else %}{% trans 'Submit' %}{% endif %}" /> {% if object %}{% trans "Save" %}{% else %}{% trans "Submit" %}{% endif %}
                            </button>
                        </div>
                    {% endif %}
                {% endif %}          
            {% endif %}          
        
            {% if scrollable_content %}
                <div style="border: 1px solid; height: {{ scrollable_content_height }}; overflow: auto;">
            {% endif %}

            <table class="table">
                <tbody>
                    {% if not hide_header %}
                        <tr>
                            {% if multi_select or multi_select_as_buttons %}
                                <th class="first"><input type="checkbox" class="checkbox toggle" /></th>
                            {% endif %}

                            {% if not hide_object %}
                                <th>
                                	{% trans "Identifier" %}
                                	
                                	{% if show_sort %}
                                		<div class=" document_sort">
		                                	<a href="{{ request.path }}?sort_type=desc&sort_column={{ sort_identifier }}">
		                                		<span class="famfam active famfam-bullet_arrow_up"></span>
		                                	</a>
		                                	<br />
		                                	<a href="{{ request.path }}?sort_type=asc&sort_column={{ sort_identifier }}">
		                                		<span class="famfam active famfam-bullet_arrow_down"></span>
		                                	</a>
		                                </div>
                                	{% endif %}
                                </th>
                            {% endif %}

                            {% for column in extra_columns_preffixed %}
                                <th>
                                	{{ column.name|capfirst }}
                                	
                                	{% if show_sort %}
                                		<div class=" document_sort">
		                                	<a href="{{ request.path }}?sort_type=desc&sort_column={{ column.name }}">
		                                		<span class="famfam active famfam-bullet_arrow_up"></span>
		                                	</a>
		                                	<a href="{{ request.path }}?sort_type=asc&sort_column={{ column.name }}">
		                                		<span class="famfam active famfam-bullet_arrow_down"></span>
		                                	</a>
	                                	</div>
                                	{% endif %}
                                </th>

                            {% endfor %}
                            
							{% if not hide_sort %}	
	                            {% for column in object_list.0|get_model_list_columns %}
	                            	{% if display_metadata_columns and column.name|lower == metadata_translation %}
										{% for metadata_column in metadata_columns %}
											<th>

												<div>
													<input id="search_id_{{ metadata_column.internal_name|string_trim }}"  name="search_name_{{ metadata_column.internal_name|string_trim }}"" 
													value="{{ filter_columns|get_dict_item_stripped_key:metadata_column.internal_name }}" class="metadata-filter" />
													<button class="button-filter-metadata" type="submit" id="search_button_id_{{ metadata_column.internal_name|string_trim }}" 
														name="search_button_name_{{ metadata_column.internal_name|string_trim }}" 
														value="{{ request.path }}"
														style="margin-bottom: 8px;display: none;"></button>
												</div>
											
												{{ metadata_column.external_name|capfirst }}
	                                	
			                                	{% if show_sort %}
			                                		<div class=" document_sort">
					                                	<a href="{{ request.path }}?sort_type=desc&sort_column=metadata_{{ metadata_column.internal_name|string_trim }}">
					                                		<span class="famfam active famfam-bullet_arrow_up"></span>
					                                	</a>
					                                	<a href="{{ request.path }}?sort_type=asc&sort_column=metadata_{{ metadata_column.internal_name|string_trim }}">
					                                		<span class="famfam active famfam-bullet_arrow_down"></span>
					                                	</a>
					                                </div>
			                                	{% endif %}
			                                </th>
										{% endfor %}
									{% else %}
										<th>
											{{ column.name|capfirst }}
		                                </th>
									{% endif %}
	                            {% endfor %}

								{% for column in extra_columns %}
								    <th>{{ column.name|capfirst }}</th>
								{% endfor %}        
								
								{% if not hide_links %}
								    <th class="">&nbsp;</th>
								{% endif %}
                            {% endif %}

                        </tr>
                    {% endif %}
                    {% for object in object_list %}
                        <tr class="{% cycle 'odd' 'even2' %}">
                        {% if multi_select or multi_select_as_buttons %}    
                            <td>
                            {% if multi_select_item_properties %}
                                <input type="checkbox" class="checkbox" name="properties_{{ object|get_encoded_parameter:multi_select_item_properties }}" value="" />
                            {% else %}
                                <input type="checkbox" class="checkbox" name="pk_{{ object.pk }}" value="" />
                            {% endif %}
                            </td>
                        {% endif %}
                        {% if not hide_object %}
                            {% if main_object %}
                                {% with object|object_property:main_object as object %}
                                    <td>{% if not hide_link %}<a href="{{ object.get_absolute_url }}">{{ object }}</a>{% else %}{{ object }}{% endif %}</td>
                                {% endwith %}
                            {% else %}
                                <td>{% if not hide_link %}<a href="{{ object.get_absolute_url }}">{{ object }}</a>{% else %}{{ object }}{% endif %}</td>
                            {% endif %}
                        {% endif %}
                        
                        {% if not hide_sort %}
	                        {% for column in extra_columns_preffixed %}
	                            {% if column.keep_together %}
	                                <td>
	                                    {{ object|object_property:column.attribute|make_non_breakable }}
	                                </td>
	                            {% else %}
	                                <td>{{ object|object_property:column.attribute }}</td>
	                            {% endif %}
	                        {% endfor %}
	                        
	                        {% if not hide_columns %}
	
	                            {% for column in object|get_model_list_columns %}
	                            
	                            	{% if display_metadata_columns and column.name|lower == metadata_translation %}
	                            		{% for metadata_column in metadata_columns %}
	                            			
	                            			{% if metadata_column.external_name|lower in object.documentmetadata_set.all|lower %}
	                            				{% for obj_metadata in object.documentmetadata_set.all %}
	                            					{% if obj_metadata|lower == metadata_column.external_name|lower %}
	                            						<td>{{ obj_metadata.value }}</td>
	                            					{% endif %}
	                            				{% endfor %}
	                            			{% else %}
	                            				<td>&nbsp;</td>
	                            			{% endif %}
											
	                            		{% endfor %}
	                            	{% else %}
	                            		<td>{{ object|object_property:column.attribute }}</td>
	                            	{% endif %}
	                            	
	                            {% endfor %}
	                        {% endif %}
	                            {% for column in extra_columns %}
	                                {% if column.keep_together %}
	                                    <td>
	                                        {{ object|object_property:column.attribute|make_non_breakable }}
	                                    </td>
	                                {% else %}
	                                    <td>{{ object|object_property:column.attribute }}</td>
	                                {% endif %}
	                            {% endfor %}
	                            {% if not hide_links %}
	                                {% if list_object_variable_name %}
	                                    {% copy_variable object as list_object_variable_name %}
	                                    {% copy_variable list_object_variable_name as "navigation_object_name" %}
	                                {% endif %}
	                                <td class="last">
	                                    {% if navigation_object_links %}
	                                        {% with navigation_object_links as overrided_object_links %}
	                                            {% object_navigation_template %}
	                                        {% endwith %}
	                                    {% else %}
	                                        {% object_navigation_template %}
	                                    {% endif %}
	                                </td>
	                            {% endif %}
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr><td colspan=99 class="tc">{% blocktrans with title|striptags as stripped_title %}There are no {{ stripped_title }}{% endblocktrans %}</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% if scrollable_content %}
                </div>            
            {% endif %}            
            
            {% if object_list %}
                {% if multi_select or multi_select_as_buttons %}
                    {% if multi_select_as_buttons %}
                        {% get_multi_item_links as multi_item_links %}
                        <div class="group navform wat-cf" style="margin-bottom: 0px;">
                        {% for link in multi_item_links %}
                            <button class="button" type="submit" name="action" value="{{ link.url }}" style="margin-bottom: 8px;">
                               {% if link.famfam and not disable_icons %}<span class="famfam active famfam-{{ link.famfam|default:'link' }}"></span>{% endif %}{{ link.text|capfirst }}
                            </button>
                        {% endfor %}
                        </div>
                    {% else %}
                        {% with "true" as form_hide_required_text %}
                            {% get_multi_item_links_form %}
                        {% endwith %}
                        <div class="group navform wat-cf">
                            <button class="button" type="submit" name="{{ form.prefix }}-submit">
                                <img src="{{ STATIC_URL }}web_theme_media/images/icons/tick.png" alt="{% if object %}{% trans 'Save' %}{% else %}{% trans 'Submit' %}{% endif %}" /> {% if object %}{% trans "Save" %}{% else %}{% trans "Submit" %}{% endif %}
                            </button>
                        </div>
                    {% endif %}
                {% endif %}  
            {% endif %}  
        </form>
        {% paginate %}
        
        {% if side_bar %}
            </p>
        {% endif %} 
    </div>
</div>
